<form>
  <div class="small-10">
    <div class="row collapse postfix-round">
      <div class="small-9 columns">
        <%= collection_select("computer", "location_id", Location.all, :id, :name, {include_blank: true, :selected => @selected}) %>
      </div>
      <div class="small-3 columns">
        <input type="submit" class="button postfix" value="Filter">
      </div>
    </div>
  </div>
</form>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Serial</th>
      <th>Account</th>
      <th>Notes</th>
      <th>Location</th>
      <th>Updated</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @computers.each do |computer| %>
    <% p computer.location %>
      <tr>
        <td><%= computer.name %></td>
        <td><%= computer.serial %></td>
        <td>
          <% computer.adobe_account.each do |act| %>
            <%= act.email %>
          <% end %>
        </td>
        <td><%= computer.notes %></td>
        <td><%= computer.location.name unless computer.location.nil? %></td>
        <td><%= computer.updated_at.in_time_zone("Central Time (US & Canada)").to_formatted_s(:long) %></td>
        <td><%= link_to 'Edit', edit_computer_path(computer) %></td>
      </tr>
    <% end %>
  </tbody>
</table>